<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="UserObjectLocation" value=""/>
    <add key="UserAttackPower" value="6"/>
    <add key="UserHealth" value="50"/>
    <add key="HurtSound" value=""/>
    <add key="DataWrite" value=""/>
  </appSettings>
</configuration>