<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="UserObjectLocation" value="C:\Users\jvahle3\source\repos\IMTA\IMTA\bin\Debug\UserObject.dat"/>
    <add key="UserAttackPower" value="6"/>
    <add key="UserHealth" value="50"/>
    <add key="HurtSound" value="C:\Users\jvahle3\source\repos\IMTA\IMTA\hurt.wav"/>
  </appSettings>
</configuration>